{% extends 'stock/base.html' %}

{% block title %}Lista de Pedidos{% endblock %}

{% block content %}
<h1>Lista de Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Proveedor</th>
      <th>Estado</th>
      <th>Fecha de Creación</th>
      <th>Fecha de Envío</th>
    </tr>
  </thead>
  <tbody>
    {% for pedido in pedidos %}
    <tr>
      <td>{{ pedido.id }}</td>
      <td>{{ pedido.proveedor.nombre }}</td>
      <td>{{ pedido.get_estado_display }}</td>
      <td>{{ pedido.fecha_creacion }}</td>
      <td>{{ pedido.fecha_envio|default:"-" }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No hay pedidos disponibles.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
